h1 {
  font: var(--iss-font-xl);
  color: var(--iss-font);
}

.top-bar {
  padding: 29px 37px 37px 24px;
  width: 100%;
  background: var(--iss-bg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  img {
    margin-left: 24px;
  }


  button {
    width: 164px;
    height: 48px;
  }
}
