.task-board-empty {
  height: calc(100vh - 106px);
  font: var(--iss-font-m);
  background-color: var(--iss-dark-gray);

  p {
    font: var(--iss-font-l);
    color: var(--iss-medium-line);
    margin-bottom: 32px;
  }
}
