div {
  background: var(--iss-gray);
  width: 350px;
  height: 40px;
  border-radius: 4px;
  padding: 12px;

  &:hover {
    background-color: rgba(99, 95, 199, 0.25);
  }

  input {
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    background: var(--iss-white);
    border: 1px solid rgba(130, 143, 163, 0.25);

    &:checked + label {
      transition: 0.3s;
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  label {
    font: var(--iss-font-s);
    font-weight: bold;
  }

}


